scipy
fire
s3prl
torchaudio
scikit-learn
sentencepiece
torch>=2.0
omegaconf
soundfile
git+https://github.com/Baijiong-Lin/LoRA-Torch
pytorch-metric-learning
pandas
gdown
speechbrain
transformers
ipykernel
matplotlib
mir_eval
pesq
librosa
IProgress